::ng-deep {
    .borderR {
        border: 0;
        .card-body {
            .text-end {
                text-align: center !important;
            }
            .text-high-emphasis {
                color: #fff !important;
            }
        }
    }

}

.fullSpace {
    width: 100%;
    border: transparent;
    background-color: transparent;
}

.abc {
    text-align: center !important;
    color: #fff;
}
.tileColor {
    background-color: #3c4b64;
}
// html:not([dir=rtl]) .text-end {
//     text-align: center !important;
// }