.borderR {
    border: 0;
    .card-body {
        .text-end {
            text-align: center !important;
        }
    }
}

.fullSpace {
    width: 100%;
}

.abc {
    text-align: center !important;
    color: #fff;
}
.tileColor {
    background-color: #3c4b64;
}